/* //CSCI2720 Group Project 26
//Au Cheuk Ming 1155125363
//Chin Wen Jun Cyril 1155104882
//Lee Yat 1155126257
//Ho Tsz Hin 1155126757
//Lee Sheung Chit 1155125027 */

.sun-loader {
  z-index: 0;
  width: 72px;
  height: 72px;
  background: #ff6700;
  display: inline;
  margin: 20px auto;
  position: absolute;
  margin: auto;
  left: 100px;
  right: 0;
  top: 0;
  bottom: 100px;
  box-sizing: border-box;
  animation: sun-rotationBack 2s linear infinite reverse;
}
.sun-loader::before {
  content: "";
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 72px;
  height: 72px;
  background: #ff6700;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.sun-loader::after {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
@keyframes sun-rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.rain-loader {
  z-index: 1;
  width: 180px;
  height: 140px;
  display: inline;
  margin: 0 auto 20px;
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      #333333 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, #333333 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, #333333 100%, transparent 0),
    radial-gradient(circle 15px at 15px 15px, #333333 100%, transparent 0),
    linear-gradient(#333333 50px, transparent 0);
  background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
  background-repeat: no-repeat;
  background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}
.rain-loader::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 65px;
  width: 2px;
  height: 6px;
  color: #333333;
  box-sizing: border-box;
  animation: rain-animloader 0.6s linear infinite;
}

@keyframes rain-animloader {
  0% {
    box-shadow: 25px 0 grey, 50px 0 grey, 75px 0 grey, 100px 0 grey,
      125px 0 grey, 150px 0 grey, 25px 0 grey, 50px 0 grey, 75px 0 grey,
      100px 0 grey, 125px 0 grey, 150px 0 grey;
  }
  50% {
    box-shadow: 25px 20px grey, 50px 60px rgba(255, 255, 255, 0),
      75px 30px rgba(255, 255, 255, 0), 100px 70px rgba(255, 255, 255, 0),
      125px 40px grey, 150px 60px rgba(255, 255, 255, 0), 25px 20px grey,
      50px 30px grey, 75px 10px grey, 100px 30px grey,
      125px 30px rgba(255, 255, 255, 0), 150px 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 25px 60px rgba(255, 255, 255, 0),
      50px 60px rgba(255, 255, 255, 0), 75px 50px rgba(255, 255, 255, 0),
      100px 70px rgba(255, 255, 255, 0), 125px 70px rgba(255, 255, 255, 0),
      150px 60px rgba(255, 255, 255, 0), 25px 80px rgba(255, 255, 255, 0),
      50px 80px rgba(255, 255, 255, 0), 75px 70px rgba(255, 255, 255, 0),
      100px 60px rgba(255, 255, 255, 0), 125px 30px rgba(255, 255, 255, 0),
      150px 30px rgba(255, 255, 255, 0);
  }
}
.rain-loader-darkmode {
  width: 180px;
  height: 140px;
  display: block;
  margin: 0 auto 20px;
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      #fff 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, #fff 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, #fff 100%, transparent 0),
    radial-gradient(circle 15px at 15px 15px, #fff 100%, transparent 0),
    linear-gradient(#fff 50px, transparent 0);
  background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
  background-repeat: no-repeat;
  background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
  position: relative;
  box-sizing: border-box;
}
.rain-loader-darkmode::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 65px;
  width: 2px;
  height: 6px;
  color: #fff;
  box-sizing: border-box;
  animation: rain-animloader-darkmode 0.6s linear infinite;
}

@keyframes rain-animloader-darkmode {
  0% {
    box-shadow: 25px 0 white, 50px 0 white, 75px 0 white, 100px 0 white,
      125px 0 white, 150px 0 white, 25px 0 white, 50px 0 white, 75px 0 white,
      100px 0 white, 125px 0 white, 150px 0 white;
  }
  50% {
    box-shadow: 25px 20px white, 50px 60px rgba(255, 255, 255, 0),
      75px 30px rgba(255, 255, 255, 0), 100px 70px rgba(255, 255, 255, 0),
      125px 40px white, 150px 60px rgba(255, 255, 255, 0), 25px 20px white,
      50px 30px white, 75px 10px white, 100px 30px white,
      125px 30px rgba(255, 255, 255, 0), 150px 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 25px 60px rgba(255, 255, 255, 0),
      50px 60px rgba(255, 255, 255, 0), 75px 50px rgba(255, 255, 255, 0),
      100px 70px rgba(255, 255, 255, 0), 125px 70px rgba(255, 255, 255, 0),
      150px 60px rgba(255, 255, 255, 0), 25px 80px rgba(255, 255, 255, 0),
      50px 80px rgba(255, 255, 255, 0), 75px 70px rgba(255, 255, 255, 0),
      100px 60px rgba(255, 255, 255, 0), 125px 30px rgba(255, 255, 255, 0),
      150px 30px rgba(255, 255, 255, 0);
  }
}
